
body {
    width: 100%;
    margin: 0; 
    background: #f2f2f2; 
}
  
main {
    width: 100%;
    max-width: 100%;
}

h2 {
    color: #ffffff;
    background-color: #4d4d4d; 
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 10px; 
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}


.polban-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

#navbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0; /* Menetapkan right: 0 untuk melebar elemen secara penuh */
    display: flex;
    align-items: center;
    height: 60px; 
    background: #ddd;
    margin-left: auto; /* Menetapkan margin-left: auto */
    margin-right: auto; /* Menetapkan margin-right: auto */
}

#navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

#navbar li {
    margin: 0 10px;
}

#navbar a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}


.gambar-saya {
    border-radius: 50%;
    width: 250px;
    height: auto;
    margin: 40px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.contact a {
    padding: 10px;
}
  
.contact img {
    width: 50px;
    height: auto;
}
  
.contact img:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    background-color: #fff;
    margin: 20px 190px;
}

#motto {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    font-style: italic;
    margin: 0;
}

.video-section {
    text-align: center;
    padding: 20px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* Perbandingan aspek video 16:9 */
    overflow: hidden;
    margin: 0 auto; /* Tambahkan margin: 0 auto; untuk membuatnya di tengah */
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 10px;
    text-decoration: none;
}

th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

table a {
    color: #666;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image-container img {
    width: 30%;
    height: auto;
}

.content-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.box {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    font-style: bold;
}